<a href="https://colab.research.google.com/github/Venu2791/WNS-Hackathon/blob/master/WNS_0824_VP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [110]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.16.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.24.2)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.16.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [0]:
import numpy as np
import pandas as pd
import matplotlib

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [113]:
#Load data from drive using shared link
link = 'https://drive.google.com/open?id=17DyfkpPIvBvk86asr1tHo4GvTvnhlxOa' 
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='
log = drive.CreateFile({'id':id}) 
log.GetContentFile('view_log.csv')  
logdata = pd.read_csv('view_log.csv')


link1 = 'https://drive.google.com/open?id=1d3mvEQLiI_6O7gDpDy-76BN-VggYf2fj' 
fluff, id1 = link1.split('=')
print (id1) # Verify that you have everything after '='
train = drive.CreateFile({'id':id1}) 
train.GetContentFile('train.csv')  
traindata = pd.read_csv('train.csv')


link2 = 'https://drive.google.com/open?id=1snQlu52IHq7qeZwMnekUvPW64jlN3liK' 
fluff, id2 = link2.split('=')
print (id2) # Verify that you have everything after '='
item = drive.CreateFile({'id':id2}) 
item.GetContentFile('item_data.csv')  
itemdata = pd.read_csv('item_data.csv')

17DyfkpPIvBvk86asr1tHo4GvTvnhlxOa
1d3mvEQLiI_6O7gDpDy-76BN-VggYf2fj
1snQlu52IHq7qeZwMnekUvPW64jlN3liK

In [114]:
print(traindata.head(5))
print(itemdata.head(5))
print(logdata.head(5))

                      impression_id      impression_time  ...  is_4G  is_click
0  c4ca4238a0b923820dcc509a6f75849b  2018-11-15 00:00:00  ...      0         0
1  45c48cce2e2d7fbdea1afc51c7c6ad26  2018-11-15 00:01:00  ...      1         1
2  70efdf2ec9b086079795c442636b55fb  2018-11-15 00:02:00  ...      1         0
3  8e296a067a37563370ded05f5a3bf3ec  2018-11-15 00:02:00  ...      1         0
4  182be0c5cdcd5072bb1864cdee4d3d6e  2018-11-15 00:02:00  ...      0         0

[5 rows x 7 columns]
   item_id  item_price  category_1  category_2  category_3  product_type
0    26880        4602          11          35          20          3040
1    54939        3513          12          57          85          6822
2    40383         825          17           8         279          1619
3     8777        2355          13          58         189          5264
4   113705        1267          17          39         151         10239
           server_time device_type  session_id  user_id  item_id
0  2018-10-15 08:58:00     android      112333     4557    32970
1  2018-10-15 08:58:00     android      503590    74788     7640
2  2018-10-15 08:58:00     android      573960    23628   128855
3  2018-10-15 08:58:00     android      121691     2430    12774
4  2018-10-15 08:58:00     android      218564    19227    28296

In [115]:
print(len(traindata))
print(len(itemdata))
print(len(logdata))

237609
132761
3118622

In [116]:
traindata['is_click'].value_counts()/len(traindata)

0    0.954286
1    0.045714
Name: is_click, dtype: float64

In [117]:
custjourney=pd.concat([logdata, traindata], ignore_index=True).sort_values(by=['user_id','server_time','impression_time'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [118]:
len(custjourney)

3356231

In [119]:
custjourney.loc[custjourney['user_id']== 63410]

         app_code device_type  ... session_id user_id
284024        NaN     android  ...   356854.0   63410
284028        NaN     android  ...   356854.0   63410
309046        NaN     android  ...   345289.0   63410
339224        NaN     android  ...   406658.0   63410
449354        NaN     android  ...    15568.0   63410
486317        NaN     android  ...   343558.0   63410
486325        NaN     android  ...   343558.0   63410
2115995       NaN     android  ...   983607.0   63410
3028698       NaN     android  ...   135003.0   63410
3028895       NaN     android  ...   135003.0   63410
3029399       NaN     android  ...   135003.0   63410
3029745       NaN     android  ...   135003.0   63410
3118623     467.0         NaN  ...        NaN   63410
3138398     467.0         NaN  ...        NaN   63410
3123257     467.0         NaN  ...        NaN   63410
3124710     467.0         NaN  ...        NaN   63410
3147951     467.0         NaN  ...        NaN   63410
3130826     467.0         NaN  ...        NaN   63410
3132586     283.0         NaN  ...        NaN   63410
3127473     467.0         NaN  ...        NaN   63410
3133401     467.0         NaN  ...        NaN   63410
3160617     283.0         NaN  ...        NaN   63410
3140354     467.0         NaN  ...        NaN   63410
3166794     467.0         NaN  ...        NaN   63410
3144825     467.0         NaN  ...        NaN   63410
3170257     467.0         NaN  ...        NaN   63410
3194311     283.0         NaN  ...        NaN   63410
3198533     467.0         NaN  ...        NaN   63410
3161698     467.0         NaN  ...        NaN   63410
3207939     467.0         NaN  ...        NaN   63410
...           ...         ...  ...        ...     ...
3178929     467.0         NaN  ...        NaN   63410
3225448     467.0         NaN  ...        NaN   63410
3187041     283.0         NaN  ...        NaN   63410
3241494     467.0         NaN  ...        NaN   63410
3216188     467.0         NaN  ...        NaN   63410
3224269     467.0         NaN  ...        NaN   63410
3264994     467.0         NaN  ...        NaN   63410
3242553     467.0         NaN  ...        NaN   63410
3272514     467.0         NaN  ...        NaN   63410
3284933     467.0         NaN  ...        NaN   63410
3282056     283.0         NaN  ...        NaN   63410
3291862     467.0         NaN  ...        NaN   63410
3296153     467.0         NaN  ...        NaN   63410
3265377     467.0         NaN  ...        NaN   63410
3300426     467.0         NaN  ...        NaN   63410
3283601     467.0         NaN  ...        NaN   63410
3311707     467.0         NaN  ...        NaN   63410
3324000     467.0         NaN  ...        NaN   63410
3296227     283.0         NaN  ...        NaN   63410
3333122     283.0         NaN  ...        NaN   63410
3300787     467.0         NaN  ...        NaN   63410
3336732     283.0         NaN  ...        NaN   63410
3337182     467.0         NaN  ...        NaN   63410
3322190     467.0         NaN  ...        NaN   63410
3341296     467.0         NaN  ...        NaN   63410
3321313     467.0         NaN  ...        NaN   63410
3321316     467.0         NaN  ...        NaN   63410
3348663     467.0         NaN  ...        NaN   63410
3349077     467.0         NaN  ...        NaN   63410
3353572     283.0         NaN  ...        NaN   63410

[64 rows x 11 columns]

In [120]:
custjourney.dtypes

app_code           float64
device_type         object
impression_id       object
impression_time     object
is_4G              float64
is_click           float64
item_id            float64
os_version          object
server_time         object
session_id         float64
user_id              int64
dtype: object

In [121]:
custjourney['date'] = pd.to_datetime(custjourney['impression_time'])
custjourney['date1'] = pd.to_datetime(custjourney['server_time'])
custjourney['timestamp']=custjourney['date']
custjourney.timestamp=custjourney.timestamp.fillna(value=custjourney.date1)
print(custjourney.head(20))
#custjourney['Datetime'] = custjourney.apply(
 #   lambda row: row['date'] if np.isnan(row['date']) else row['date1'],axis=1)

         app_code device_type  ...               date1           timestamp
163910        NaN     android  ... 2018-10-18 14:27:00 2018-10-18 14:27:00
163921        NaN     android  ... 2018-10-18 14:27:00 2018-10-18 14:27:00
164584        NaN     android  ... 2018-10-18 14:43:00 2018-10-18 14:43:00
164700        NaN     android  ... 2018-10-18 14:46:00 2018-10-18 14:46:00
164729        NaN     android  ... 2018-10-18 14:46:00 2018-10-18 14:46:00
164774        NaN     android  ... 2018-10-18 14:47:00 2018-10-18 14:47:00
338978        NaN     android  ... 2018-10-22 09:48:00 2018-10-22 09:48:00
538172        NaN     android  ... 2018-10-26 09:07:00 2018-10-26 09:07:00
538227        NaN     android  ... 2018-10-26 09:08:00 2018-10-26 09:08:00
1107788       NaN     android  ... 2018-11-06 14:46:00 2018-11-06 14:46:00
1355010       NaN     android  ... 2018-11-11 10:09:00 2018-11-11 10:09:00
1355056       NaN     android  ... 2018-11-11 10:10:00 2018-11-11 10:10:00
1355084       NaN     android  ... 2018-11-11 10:10:00 2018-11-11 10:10:00
1355117       NaN     android  ... 2018-11-11 10:11:00 2018-11-11 10:11:00
1355242       NaN     android  ... 2018-11-11 10:13:00 2018-11-11 10:13:00
1355271       NaN     android  ... 2018-11-11 10:13:00 2018-11-11 10:13:00
1355329       NaN     android  ... 2018-11-11 10:14:00 2018-11-11 10:14:00
1355387       NaN     android  ... 2018-11-11 10:15:00 2018-11-11 10:15:00
1355488       NaN     android  ... 2018-11-11 10:16:00 2018-11-11 10:16:00
1355526       NaN     android  ... 2018-11-11 10:17:00 2018-11-11 10:17:00

[20 rows x 14 columns]

In [0]:
custjourney['Date'] = [d.date() for d in custjourney['timestamp']]
custjourney['Time'] = [d.time() for d in custjourney['timestamp']]

In [123]:
custjourney.loc[custjourney['user_id']== 63410].sort_values(by=['Date','Time'])

         app_code device_type  ...        Date      Time
284024        NaN     android  ...  2018-10-21  06:13:00
284028        NaN     android  ...  2018-10-21  06:13:00
309046        NaN     android  ...  2018-10-21  17:01:00
339224        NaN     android  ...  2018-10-22  09:54:00
449354        NaN     android  ...  2018-10-24  11:14:00
486317        NaN     android  ...  2018-10-25  05:00:00
486325        NaN     android  ...  2018-10-25  05:03:00
3118623     467.0         NaN  ...  2018-11-15  00:01:00
3138398     467.0         NaN  ...  2018-11-15  00:56:00
3123257     467.0         NaN  ...  2018-11-16  16:31:00
3124710     467.0         NaN  ...  2018-11-16  18:14:00
3147951     467.0         NaN  ...  2018-11-17  00:02:00
3130826     467.0         NaN  ...  2018-11-17  01:54:00
3132586     283.0         NaN  ...  2018-11-18  07:48:00
3127473     467.0         NaN  ...  2018-11-18  08:09:00
3133401     467.0         NaN  ...  2018-11-19  02:04:00
3160617     283.0         NaN  ...  2018-11-19  02:19:00
3140354     467.0         NaN  ...  2018-11-20  09:08:00
3166794     467.0         NaN  ...  2018-11-20  10:01:00
3144825     467.0         NaN  ...  2018-11-21  00:25:00
3170257     467.0         NaN  ...  2018-11-21  01:44:00
3194311     283.0         NaN  ...  2018-11-22  02:02:00
3198533     467.0         NaN  ...  2018-11-22  02:08:00
3161698     467.0         NaN  ...  2018-11-23  02:22:00
3207939     467.0         NaN  ...  2018-11-24  05:14:00
3207940     467.0         NaN  ...  2018-11-24  05:28:00
2115995       NaN     android  ...  2018-11-24  05:29:00
3214918     467.0         NaN  ...  2018-11-25  02:06:00
3180266     467.0         NaN  ...  2018-11-25  09:32:00
3219888     467.0         NaN  ...  2018-11-26  00:42:00
...           ...         ...  ...         ...       ...
3216188     467.0         NaN  ...  2018-11-29  01:52:00
3224269     467.0         NaN  ...  2018-11-30  09:00:00
3264994     467.0         NaN  ...  2018-11-30  09:55:00
3242553     467.0         NaN  ...  2018-12-01  07:16:00
3272514     467.0         NaN  ...  2018-12-01  07:44:00
3284933     467.0         NaN  ...  2018-12-02  09:20:00
3282056     283.0         NaN  ...  2018-12-02  09:26:00
3291862     467.0         NaN  ...  2018-12-03  00:50:00
3296153     467.0         NaN  ...  2018-12-03  07:05:00
3265377     467.0         NaN  ...  2018-12-04  00:25:00
3300426     467.0         NaN  ...  2018-12-04  01:36:00
3283601     467.0         NaN  ...  2018-12-05  07:21:00
3311707     467.0         NaN  ...  2018-12-05  08:14:00
3324000     467.0         NaN  ...  2018-12-06  00:16:00
3296227     283.0         NaN  ...  2018-12-06  00:29:00
3333122     283.0         NaN  ...  2018-12-07  01:47:00
3300787     467.0         NaN  ...  2018-12-07  02:36:00
3336732     283.0         NaN  ...  2018-12-08  00:42:00
3337182     467.0         NaN  ...  2018-12-08  01:03:00
3322190     467.0         NaN  ...  2018-12-09  08:06:00
3341296     467.0         NaN  ...  2018-12-09  09:01:00
3321313     467.0         NaN  ...  2018-12-10  05:48:00
3321316     467.0         NaN  ...  2018-12-10  06:24:00
3028698       NaN     android  ...  2018-12-10  19:48:00
3028895       NaN     android  ...  2018-12-10  19:51:00
3029399       NaN     android  ...  2018-12-10  19:59:00
3029745       NaN     android  ...  2018-12-10  20:03:00
3348663     467.0         NaN  ...  2018-12-11  00:00:00
3349077     467.0         NaN  ...  2018-12-11  09:58:00
3353572     283.0         NaN  ...  2018-12-12  00:05:00

[64 rows x 16 columns]

In [124]:
#Train = custjourney.groupby('user_id').ffill().reindex(custjourney.columns, axis=1)
Train=pd.merge(custjourney, itemdata, on='item_id', how='inner')
Train.head(10)

   app_code device_type impression_id  ... category_2  category_3  product_type
0       NaN     android           NaN  ...         29         199          7363
1       NaN     android           NaN  ...         29         199          7363
2       NaN     android           NaN  ...         29         199          7363
3       NaN     android           NaN  ...         29         199          7363
4       NaN     android           NaN  ...         29         199          7363
5       NaN     android           NaN  ...         29         199          7363
6       NaN     android           NaN  ...         29         199          7363
7       NaN     android           NaN  ...         29         199          7363
8       NaN     android           NaN  ...         29         199          7363
9       NaN     android           NaN  ...         29         199          7363

[10 rows x 21 columns]